.sidebarOptions{
    color: gray;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    transition: 100ms color ease-in;
    display: flex;
    align-items: center; /*align ite items */
}
.sidebarOptions:hover{
    color: white;
}
.sidebarOptions__icon{
    padding-left: 10px;
    padding-right: 10px;
        
}
.sidebarOptions > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}